<html>
 <head>
     <link rel="stylesheet" type="text/css" href="css/style.css">
     <style>
         body {
             color:red;
             background: url("https://ask.extension.org/uploads/question/images/attachments/000/178/378/IMG_1112_300x300%2523.JPG?1499812009");
         }
     </style>
     </head>
    <body> 
    <h1 >You failed the test somehow, so you are an Ant. Try again!</h1>
    </body>
</html

