<html>
 <head>
     <link rel="stylesheet" type="text/css" href="css/style.css">
      <style>
         body {
             color:yellow;
             background: url("http://www.zarias.com/wp-content/uploads/2016/02/65010216-funny-cat-pictures.jpg");
         }
     </style>
     </head>
    <body> 
    <h1>A CAT!!!</h1>
    </body>
</html