<html>
 <head>
     <link rel="stylesheet" type="text/css" href="css/style.css">
      <style>
         body {
             color:white;
             background: url("https://memepedia.ru/wp-content/uploads/2018/01/94e-%E2%80%94-%D0%BA%D0%BE%D0%BF%D0%B8%D1%8F.jpg");
         }
     </style>
     </head>
    <body> 
    <h1>A DOG!!!</h1>
    </body>
</html