<html>
 <head>
     <link rel="stylesheet" type="text/css" href="css/style.css">
      <style>
         body {
             color:lightblue;
             background: url("https://img00.deviantart.net/49eb/i/2008/034/f/e/funny_duck_by_wearwolfaa.jpg");
         }
     </style>
     </head>
    <body> 
    <h1>A DUCK!!!</h1>
    </body>
</html