<html>
 <head>
     <link rel="stylesheet" type="text/css" href="css/style.css">
      <style>
         body {
             color:#13F16E;
             background: url("https://lh3.googleusercontent.com/MwGe-ObpQfGsk4GQYNklJ688UQntAHiQYyup97mEeopqkwZY0HLk_yMJqyAK_QdRgbM=w1440-h620-rw");
         }
     </style>
     </head>
    <body> 
    <h1>A FROG!!!</h1>
    </body>
</html