<html>
 <head>
     <link rel="stylesheet" type="text/css" href="css/style.css">
      <style>
         body {
             color: brown;
             background: url("https://www.askideas.com/media/10/Funny-Lion-With-Monkey-Face.jpg");
         }
     </style>
     </head>
    <body> 
    <h1>A LION!!!</h1>
    </body>
</html