<html>
 <head>
     <link rel="stylesheet" type="text/css" href="css/style.css">
      <style>
         body {
             color:#132AF1;
             background: url("http://www.creativefan.com/important/cf/2013/01/funny-monkey-pictures/old-chap.jpg");
         }
     </style>
     </head>
    <body> 
    <h1>A MONKEY!!!</h1>
    </body>
</html