<html>
  <head>
     <link rel="stylesheet" type="text/css" href="css/style.css">
      <style>
         body {
             color:#60E7FF;
             background: url("https://ru.fishki.net/picsw/022013/08/pics/pics1-0007.jpg");
         }
     </style>
     </head>
    <body> 
    <h1>A MOUSE!!!</h1>
    </body>
</html