<html>
  <head>
     <link rel="stylesheet" type="text/css" href="css/style.css">
      <style>
         body {
             color:#F1619A;
             background: url("http://www.freakingnews.com/pictures/126000/Parrot-Hug--126229.jpg");
         }
     </style>
     </head>
    <body> 
    <h1>A PARROT!!!</h1>
    </body>
</html