<html>
    <head>
     <link rel="stylesheet" type="text/css" href="css/style.css">
      <style>
         body {
             color:lightgreen;
             background: url("https://www.askideas.com/media/39/Rabbit-With-Angry-Nicolas-Cage-Funny-Photoshop-Image.jpg");
         }
     </style>
     </head>
    <body> 
    <h1>A RABBIT!!!</h1>
    </body>
</html>