<html>
   <head><link rel="stylesheet" type="text/css" href="css/style.css"></head>
   <style>
      body {background-color: #A1EBF7;}
   </style>
   <body>
       
       <h1 align = "center"> You are: <%= @answer %> </h1> 
   </body> 
</html>