<html>
   <head><link rel="stylesheet" type="text/css" href="css/style.css"></head>
   <style>
      body {background-color: #F7A1B1;}
   </style>
   <body>
       
       <h1 align = "center"> You <%= @answer %> </h1> 
   </body> 
  
    
</html>