<html>
 <head>
     <link rel="stylesheet" type="text/css" href="css/style.css">
      <style>
         body {
             color:#3009DF;
             background: url("https://www.askideas.com/media/40/Wolf-With-Smiley-Face-Funny-Image.jpg");
         }
     </style>
     </head>
    <body> 
    <h1>A WOLF!!!</h1>
    </body>
</html