
<html>
<head>
   <meta charset="UTF-8">
   <title>"Would you Rather?"</title>
   <link rel = stylesheet type="text/css" href="/css/style.css">
 </head>
  <style>
     body {background-color: #F7A1B1;}
 </style>
 <body class= "wouldyourather">
   <div class="container">
     <h1 class="header">Would you Rather?</h1>

     <h2 class="caption">Let's see what you pick!</h2>
     <div class="question">
     <form action="/results" method="post">
     <h2>Would you rather be...</h2>
       <input class="question" type="radio" name="speed" value="1">be rich and ugly<br>
       <input class="question" type="radio" name="speed" value="0">be poor and good-looking<br>
       
       <h2> Would you rather... </h2>
         <input class="question" type="radio" name="prefer" value="1" >always say whats on your mind<br>
         <input class="question" type="radio" name="prefer" value="0">never speak again<br>
         
           <h2>Would you rather... </h2>
       <input class="question" type="radio" name="time" value="1">be the only one laughing when someone farts<br>
       <input class="question" type="radio" name="time" value="0">fart loudly and have everyone laugh at you<br>
 
       <h2>Would you rather... </h2>
         <input class="question" type="radio" name="you_are" value="1" >begin every sentance with "Hey Idiot!"><br>
         <input class="question" type="radio" name="you_are" value="0">end every sentance with "...Ha ha I was just kidding."><br>
 
   <h2>Would you rather... </h2>
         <input class="question" type="radio" name="bathroom" value="1" >go to the bathroom anywhere you want, but only outside<br>
         <input class="question" type="radio" name="bathroom" value="0">go to the bathroom in a giant litter box in your house<br>
 
          <a href = "respond">
     <h2><input type = "submit" value= "you..."></h2> </a>
    
   </div>
 </div>

 </body>
 </html>
 
 <!--change everything-->